{% extends "base.html.j2" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <div align='center'>
      <h1>Homepage for {{current_user.email}}</h1>
      <img align='center' src="{{url_for('static', filename='profile_pics/'+current_user.profile_image)}}">
      
    </div>

  </div>

</div>

{% endblock %}
