{% extends "base.html.j2" %}
{% block content %}

<!-- .col-sm for larger mobile phones (devices with resolutions ≥ 576px);
.col-md for tablets (≥768px);
.col-lg for laptops (≥992px);
.col-xl for desktops (≥1200px) -->

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <div class="row">
            <div class="col-8">
              <p>Hi, my name is David and I work remotely as a freelance Compliance Data Analyst.
              I hold a Bachelor's degree in Mathematical Economics (BAH.MAEC University of Guelph).</p>
              <p>I am passionate about storytelling. Since I was young I have always enjoyed communciating
                stories through a wide range of mediums such as blogging, YouTube videos, podcasts, and interactive
                data dashboards.
              </p>
              <p>I am currently open to working on Data Analyst positions.
                Do you want to work together? Please reach out by e-mail or LinkedIn.</p>
            </div>
            <div class="col-4">
              <h1>David McDonald</h1>
            </div>

          </div>
          <div class="row">
            <div class="col-1">
              <a href="https://www.linkedin.com/in/david-mcdonald-445496126/">LinkedIn</a>
            </div>
            <div class="col-1">
              <a href="davidconrad123@hotmail.com">E-mail</a>
            </div>
            <div class="col-1">
              <a href="https://github.com/DavidConradMcD">Github</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="jumbotron pt-3">
          <div class="row pb-3">
            <div class="col">
              <h1>Interactive Dashboards</h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">ESG Dashboard</h5>
                  <p class="card-text">Explore ESG data pulled from Bloomberg Terminal.</p>
                  <p class="card-text">Includes code for cleaning dataset.</p>
                  <a href="/esg_app/" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Job Postings Dashboard</h5>
                  <p class="card-text">Explore 20,000+ "Analyst" job postings scraped from Indeed.</p>
                  <p class="card-text">Includes code for scraping the Indeed website and data cleaning.</p>
                  <a href="/jobs_app/" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="jumbotron pt-3">
          <div class="row pb-3">
            <div class="col">
              <h1>NLP Projects</h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">News Headline Sentiment</h5>
                  <p class="card-text">Using Sentiment score of Reuters news headlines to Predict S&P 1200 Returns.</p>
                  <p class="card-text">Includes code for data cleaning.</p>
                  <a href="https://github.com/DavidConradMcD/sentiment-prediction" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Knowledge Graph of Disciplines</h5>
                  <p class="card-text">Mapping disciplinary knowledge using knowledge graphs.</p>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="jumbotron pt-3">
          <div class="row pb-3">
            <div class="col">
              <h1>Courses Completed</h1>
            </div>
            <div class="d-flex-table flex-direction-row">
              <div class="col">
                <div class="overflow-auto">
                  <table class="table table-striped table-hover table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>Course</th>
                        <th>Institution</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="https://www.udemy.com/course/the-ultimate-mysql-bootcamp-go-from-sql-beginner-to-expert/">The Ultimate MySQL Bootcamp: Go from SQL Beginner to Expert</a></td>
                        <td>Udemy</td>
                      </tr>
                      <tr>
                        <td><a href="https://www.udemy.com/course/python-and-flask-bootcamp-create-websites-using-flask/">Python and Flask Bootcamp: Create Websites using Flask</a></td>
                        <td>Udemy</td>
                      </tr>
                      <tr>
                        <td><a href="https://www.udemy.com/course/python-oops-beginners/">Python OOP: Four Pillars of OOP in Python 3 for Beginners</a></td>
                        <td>Udemy</td>
                      </tr>
                      <tr>
                        <td><a href="https://www.udemy.com/course/jupyter-notebook-for-data-science/">Jupyter Notebook for Data Science</a></td>
                        <td>Udemy</td>
                      </tr>
                      <tr>
                        <td><a href="https://www.udemy.com/course/interactive-python-dashboards-with-plotly-and-dash/">Interactive Python Dashboards with Plotly and Dash</a></td>
                        <td>Udemy</td>
                      </tr>
                      <tr>
                        <td><a href="https://www.udemy.com/course/pythontutorial/">Python Complete Masterclass for Beginners</a></td>
                        <td>Udemy</td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>

            </div>
          </div>



        </div>
      </div>
    </div>


    <div class="row">
      {% for post in blog_posts.items %}
        <div class="card">
          <div class="card-body">
            <h2> <a class="card-title" href="{{url_for('blog_posts.blog_post',blog_post_id=post.id)}}">{{post.title}}</a> </h2>
            <a href="{{url_for('users.user_posts',email=post.author.id)}}">Written by: David McDonald</a>
            <p>Published on: {{post.date.strftime('%Y-%m-%d')}}</p>
            <a class="btn btn-primary" href="{{url_for('blog_posts.blog_post',blog_post_id=post.id)}}">Read Post</a>
          </div>
        </div>
      {% endfor %}
    </div>

    <nav aria-label='Blog Post Navigation'>
      <ul class="pagination justify-content-center">
      {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if blog_posts.page == page_num %}
          <li  class="page-item disabled">
            <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{page_num}}</a>
          </li>
        {% else %}
          <li  class="page-item">
            <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{page_num}}</a>
          </li>
        {% endif %}
      {% endfor %}

      </ul>
    </nav>

  </div>

{% endblock %}
